<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>Danh sách người dùng</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="logo">MOVIE<span style="color: #ffbe00;">ZONE</span></div>
            <nav>
                <ul>
                    <li class="side_bar">
                        <a href="/dashboard">
                            <i class="fa-solid fa-table-cells-large"></i>
                            <span>DASHBOARD</span>
                        </a>
                    </li>
                    <li class="side_bar">
                        <a href="/displayMovie">
                            <i class="fa-solid fa-film"></i>
                            <span>MOVIE</span>
                        </a>
                    </li>
                    <li class="side_bar">
                        <a href="director.html">
                            <i class="fa-solid fa-user-tie"></i>
                            <span>DIRECTOR</span>
                        </a>
                    </li>
                    <li class="side_bar">
                        <a href="dienvien.html">
                            <i class="fa-solid fa-users"></i>
                            <span>ACTOR</span>
                        </a>
                    </li>
                    <li class="side_bar active">
                        <a href="/get-crud">
                            <i class="fa-solid fa-user"></i>
                            <span>USER</span>
                        </a>
                    </li>
                    <li class="side_bar">
                        <a href="#">
                            <i class="fa-solid fa-tags"></i>
                            <span>CATEGORY</span>
                        </a>
                    </li>
                    <li class="side_bar"><a href="/">
                            <i class="fa-solid fa-arrow-left"></i>
                            <span>BACK TO SITE</span>
                        </a></li>
                </ul>
            </nav>
        </aside>
        <!-- Main Content -->
        <main class="main-content">
            <header class="main-header">
                <p style="color: white;">User</p>
                <div style="color: white;" class="admin">
                    <i class="fa-solid fa-user-shield" style="margin-right:6px;"></i> ManhCuong
                </div>
            </header>
            <div class="table-box">
                <table>
                    <thead>
                        <tr>
                            <th class="colu">ID</th>
                            <th class="colu">USERNAME</th>
                            <th class="colu">EMAIL</th>
                            <th class="colu">PASSWORD</th>
                            <th class="colu">CREATE DATE</th>
                            <th class="colu">UPDATE TIME</th>
                            <th class="colu">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let i=0; i < dataTable.length; i++) { %>
                            <tr>
                                <td>
                                    <%= i + 1 %>
                                </td>
                                <td>
                                    <%= dataTable[i].username %>
                                </td>
                                <td style="text-align: left;">
                                    <%= dataTable[i].email %>
                                </td>
                                <td>
                                    <%= dataTable[i].password %>
                                </td>
                                <td>
                                    <%= new Date(dataTable[i].createdAt).toLocaleDateString('de-DE') %>
                                </td>
                                <td style="text-align: left;">
                                    <%= new Date(dataTable[i].updatedAt).toLocaleDateString('de-DE') %>
                                </td>
                                <td>
                                    <a href="/edit-crud?id=<%= dataTable[i].id %>" class="btn-edit" title="Sửa">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="/delete-crud?id=<%= dataTable[i].id %>" class="btn-delete" title="Xóa"
                                        onclick="return confirm('Bạn có chắc muốn xóa?')">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>

</html>