<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">
    <title>Document</title>
</head>

<body>
    <header class="head">
        <div class="container">
            <div class="row">
                <div class="header_content">
                    <a href="/" class="header_logo">
                        <span>MOVIE</span>ZONE
                    </a>
                    <ul class="header_nav">
                        <li class="header_nav_item">
                            Home
                            <i class="ti ti-chevron-down"></i>
                        </li>

                        <li class="header_nav_item">
                            <a style="text-decoration: none; color:#ffffff;" class="link_catalog>"
                                href="/all_movies">Catalog</a>
                            <i class="ti ti-chevron-down"></i>
                        </li>

                        <li class="header_nav_item">Pricing plan</li>

                        <li class="header_nav_item">
                            Page
                            <i class="ti ti-chevron-down"></i>
                        </li>

                        <li class="header_nav_item">
                            <a class="button_dot">
                                <i class="ti ti-dots"></i>
                            </a>
                        </li>
                    </ul>

                    <div class="header_right">
                        <div class="header_search_era">
                            <input class="header_search-right" type="text" placeholder="Search...">
                            <button class="header_button-right" type="button">
                                <i class="ti ti-search"></i>
                            </button>
                        </div>

                        <div class="header_lang">
                            <a class="header_lang_link">
                                EN
                                <i class="ti ti-chevron-down"></i>
                            </a>
                            <ul class="drop_menu_lang">

                            </ul>
                        </div>

                        <div class="header_right_profile" style="position: relative;">
                            <a href="<%= user ? 'javascript:void(0)' : '/login_page' %>" class="header_right_sighin"
                                id="profileDropdownBtn">
                                <span>
                                    <%= user ? user.username : 'Nickname' %>
                                </span>
                                <% if (user) { %>
                                    <i class="ti ti-chevron-down"></i>
                                    <% } %>
                            </a>
                            <% if (user) { %>
                                <ul class="dropdown_menu"
                                    style="position: absolute; right: 0; top: 100%; background: #222; border-radius: 6px; min-width: 120px; z-index: 10;">
                                    <li style="padding: 10px 16px; color: #fff; cursor: pointer;">PROFILE</li>
                                    <li><a href="/logout"
                                            style="color: #fff; display: block; padding: 10px 16px;">LOGOUT</a></li>
                                </ul>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="home">
        <div class="home_title">
            <span class="bold-text">NEW ITEMS</span> OF THIS SEASON
        </div>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 220px; height: 354px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/files/Terminator_480x.progressive.jpg?v=1730233995">
                        <a href="/movie_1" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">9.5</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 222px; height: 350px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/files/ROMAN-HOLIDAY_480x.progressive.jpg?v=1730233162">
                        <a href="#" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">8.7</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 222px; height: 350px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/files/FIGHT-CLUB_480x.progressive.jpg?v=1730231824">
                        <a href="#" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">9.0</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 222px; height: 350px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/files/godzilla2_480x.progressive.jpg?v=1729789153">
                        <a href="#" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">7.8</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 222px; height: 350px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/products/inglourious-basterds-style4_37d01d94-318d-4840-a290-6fc5aa7b8072_480x.progressive.jpg?v=1615396029">
                        <a href="#" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">8.3</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 220px; height: 354px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/files/Terminator_480x.progressive.jpg?v=1730233995">
                        <a href="#" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">9.5</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 222px; height: 350px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/files/ROMAN-HOLIDAY_480x.progressive.jpg?v=1730233162">
                        <a href="#" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">8.7</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 222px; height: 350px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/files/FIGHT-CLUB_480x.progressive.jpg?v=1730231824">
                        <a href="#" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">9.0</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 222px; height: 350px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/files/godzilla2_480x.progressive.jpg?v=1729789153">
                        <a href="#" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">7.8</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="item_cover">
                        <img style="width: 222px; height: 350px;" class="swiper_slide_img"
                            src="https://www.movieposters.com/cdn/shop/products/inglourious-basterds-style4_37d01d94-318d-4840-a290-6fc5aa7b8072_480x.progressive.jpg?v=1615396029">
                        <a href="#" class="item_play">
                            <i class="ti ti-player-play-filled"></i>
                        </a>
                        <span class="item_rate">8.3</span>
                        <button class="item_fav">
                            <i class="ti ti-bookmark"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </section>


    <section class="content">
        <div class="content_head">
            <h2 class="content_title">Recently Update</h2>
            <div class="border_below_nava"></div>


            <div class="container_tab_content">
                <div class="tab_content" id="movie-list">
                    <% if (moviesNew && moviesNew.length> 0) { %>
                        <% moviesNew.forEach(function(movie) { %>
                            <div class="movie_item">
                                <div class="all_item">
                                    <div class="item_cover">
                                        <img style="width: 187.67px; height: 276.53px"
                                            src="<%= movie.img || '/default.jpg' %>" alt="<%= movie.title %>">
                                        <a href="#" class="item_play">
                                            <i class="ti ti-player-play-filled"></i>
                                        </a>
                                        <span class="item_rate">
                                            <%= movie.rating %>
                                        </span>
                                        <button class="item_fav">
                                            <i class="ti ti-bookmark"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                                <% } else { %>
                                    <div>Không có phim mới</div>
                                    <% } %>
                </div>


            </div>
        </div>
        </div>

        <div class="link_view_all">
            <a href="/all_movies" class="view_all">
                <span> VIEW ALL</span>
            </a>
        </div>
        <div class="up_to_top">
            <button id="backToTop" onclick="scrollToTop()">
                <i class="ti ti-chevron-up"></i>

            </button>
        </div>

    </section>


    <footer>
        <div class="footer-container">
            <div class="footer-logo">MOVIEZONE</div>
            <div class="footer-copyright">© MOVIEZONE, 2020–2025<br>Create for history editor</div>
            <div class="footer-links">
                <a href="#">About Us</a>
                <a href="#">Controls</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </footer>

    <script src="/js/homepage.js"></script>


</body>

</html>